__pychache__/
*.py[cod]

.Python
env/
build/
develop-eggs/
eggs/
lib/
!app/static/vendor/*/lib
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

*.log
*.pickle
*.cfg

