body {
    padding-top:50px;
}

#quality, #categories {
    position: absolute;
    top: 80px;
    padding: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    background: white;
    border: 3px outset #999999;
    min-height: 60%;
    border-radius: 5px 5px 5px 5px;
}

#questions {
    position: absolute;
    top: 70px;
    padding-top: 20px;
    left: 0px;
    right: 0px;
    background: white;
}

header.question-title
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
}

header.question-title:hover
{
    background-color: #428bca;
    color: white;
    border: 1px solid #000099;
}

div.question-body
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

#catlist
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#catlist li
{
    width: 19%;
    min-width: 200px;
    float: left;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    margin: 5px;
    padding: 5px;
}
