{% extends 'layout/base.html' %}
{% block content %} 
<div class="jumbotron">
    <div class="container">
        <h1>Math.Stack<span class="text-primary">Expert</span></h1>
        <p>Finding you high-quality questions on Math.StackExchange that you'll want to answer!</p>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form role="form" method="post" action="/list/">
            <div class="form-group">    
                <label for="userid">UserID</label>
                <input class="form-control" type="text" name="userid">
            </div>
            <div class="form-group">
                <label for="quality">Desired Quality</label>
                <input class="form-control" type="range" name="quality" min="0" max="100" value="50">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="onlyunanswered" value="yes" checked> Only Show Unanswered Questions
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-mg-4"></div>
</div>
</div>
{% endblock %}
