{% extends 'layout/base.html' %}
{% block content %}
<div class="row container">
    <aside class="col-md-4 container">
        <h3>Modify Filters</h3>
        <form role="form" method="post" action="/list/">
            <div class="form-group">
                <label for="quality">Desired Quality</label>
                <input class="form-control" type="range" name="quality" min="0" max="100" value="{{quality}}">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="onlyunanswered" value="yes" checked> Only Show Unanswered Questions
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </aside>
    <div class="col-md-8 container">
{% for q in questions %}
        <article>
            <header>
                <h3><a href="{{q['link']}}">{{q['title']|safe}}</a></h3>
                <ul class="small list-inline list-inline-bulleted text-muted">
                    <li>Quality Score: {{q['quality_score']}}</li>
                    <li>Interest Index: {{q['score']}}</li>
                    <li>Creation Date: {{q['creation_date']}}</li>
                    <li>Last Activity: {{q['last_activity_date']}}</li>
                </ul>
            </header>
        {{q.body_html|safe}}
        </article>
{% endfor %}
    </div>
{% endblock %}
