{% extends 'layout/base.html' %}

{% block extranav %}
<ul class="navbar-right">
    <button id="settings-button" class="navbar-btn btn btn-primary" style="opacity: 0;" onclick="toSettingsPage()">Settings</button>
</ul>
{% endblock %}

{% block content %}
<div id="settings" class="container" style="opacity: 1; z-index: 10;">
    <header>
        <h2>Question Settings</h2>
    </header>
        <h3 class="text-primary">How much effort do you want to see in questions?</h3>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" id="qualityForm">
                    <div class="form-group" style="margin-top: 40px; margin-bottom: 40px; border: 2px solid #bbbbbb; padding: 30px; border-radius: 5px 5px 5px 5px;"><input type="range" min="0" max="100" value="50" name="quality" onchange='fetchQuestions()'>
                        <div class="pull-left">Show All Questions</div><div class="pull-right">Show High-Effort Only</div>
                    </div>
                </form>
            </div>
        </div>
        <h3 class="text-primary">What are your favorite areas of mathematics?</h3><h4>We'll only show you questions matching at least one of your selections. Clear the selection to see all topics!</h4>
        <div class="row">
            <div class="col-md-2"><select id="catselect" onchange="addCategory()" class="form-control btn btn-primary">
                    <option selected="selected" disabled="disabled" value="none">Select a category...</option>
                    {% for cat in categories %}
                    <option id="opt-{{cat['name']}}" value='{{cat['name']}}'>{{cat['name']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="selectedcats" class="col-md-10">
            </div>
        </div>
        <div class="row" style="margin-top: 60px;">
            <div class="col-md-6 col-md-offset-3"><button class="btn btn-primary form-control" onclick="toQuestionsPage()">I'm good!  Take me to the questions.</button></div>
        </div>
    </div>
</div>

<div id="questions" style="opacity: .25; z-index: 2;" class="container">
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='vendor/d3/d3.min.js')}}"></script>
<script>
var settingsPage = d3.select("#settings");
var questionsPage = d3.select("#questions");
var settingsButton = d3.select("#settings-button");
var selectedCategories = [];
var unselectedCategories = ['{{categories|join("','", 'name')|safe}}'];
function addCategory() {
    catselect = d3.select("#catselect")
    cat = catselect.property('value')
    if (cat != 'none') {
        selectedCategories.push(cat);
        for (i=0; i < unselectedCategories.length; i++) {
            if (unselectedCategories[i] == cat) {
                unselectedCategories.splice(i, 1);
                break;
            }
        }
        updateCategories();
    }
}

function removeCategory(cat) {
    for (i=0; i < selectedCategories.length; i++) {
        if (selectedCategories[i] == cat) {
            selectedCategories.splice(i, 1);
            break;
        }
    }
    unselectedCategories.push(cat);
    unselectedCategories.sort();
    updateCategories()
}

function updateCategories() {
    sel = d3.select("#selectedcats").selectAll('button').data(selectedCategories, function(d, i) {return d});
        
    sel.enter().append('button')
        .attr('class', 'btn btn-primary selected-cat')
        .attr('id', function(d) {return d;})
        .text(function(d) {return d;})
        .on("click", function(d) {removeCategory(d); }) 
        .append('span')
        .html(' &times;');
    sel.exit().remove();

    unselectedCategories.sort();
    d3.select("#catselect").selectAll('option').remove()
    catsel = d3.select("#catselect").selectAll('option').data(unselectedCategories);
    catsel.enter().append('option')
        .attr('id', function(d) { return d; })
        .attr('value', function(d) { return d; })
        .text(function(d) { return d; });
    d3.select("#catselect").insert('option', ':first-child')
        .attr('id', 'none')
        .attr('value', 'none')
        .attr('disabled', 'disabled')
        .attr('selected', 'selected')
        .text("Select a category...");
    fetchQuestions();
}

function fetchQuestions() {
    params = {};
    params['quality'] = parseInt(document.forms['qualityForm']['quality'].value);
    for (i=0; i<selectedCategories.length; i++) {
        params[selectedCategories[i]] = 1;
    }
    querystr = $.param(params);
    url = '{{url_for('api_questions')}}?' + querystr;
    d3.json(url, function(error, json) {
        if (error) return console.warn(error);
        qs = questionsPage.selectAll('article').data(json, function(d,i) {return [d.id,i];});
        qs.exit().remove();
         
        articles = qs.enter().append('article')
            .style('position', 'relative')
            .style('right', '0px')
            .attr('id', function(d) {return d.id;})
        headers = articles.append('header')
            .attr('class', 'container question-title');
        headers.append('h3')
            .html(function(d) {return d.title;})
            .append('span')
            .attr('class', 'pull-right glyphicon glyphicon-chevron-down')
            .style('font-size', '60%');
        fullart = articles.append('div').attr('id', function(d) {
                return 'body'+d.id.toString();
            })
            .attr('class', 'container question-body')
            .style('display', 'none')
            .html(function(d) { return d.body_html; });
        fullart.append('div')
            .append('span')
            .attr('class', 'pull-right text-muted')
            .text(function(d) {return "Created: " + d.creation_date;});
        fullart.append('div').attr('class', 'clearfix');
        fullart.append('div')
            .append('span')
            .attr('class', 'pull-right text-muted')
            .text(function(d) {return "Last activity: " + d.last_activity_date;});
        fullart.append('div').attr('class', 'clearfix');
        fullart.append('div')
            .append('span')
            .attr('class', 'pull-right')
            .append('img')
            .attr('src', function(d) { return "http://math.stackexchange.com/users/flair/" + d.author_id + ".png";});
        fullart.append('div')
            .style('margin-top', '20px')
            .append('span')
            .append('a')
            .attr('class', 'btn btn-primary')
            .attr('href', function(d) {return d.link;})
            .text("Answer this question at Math.StackExchange");
        headers.on("click", function(d) {
            story = d3.select("#body" + d.id.toString());
            if (story.style('display') == 'none') {
                story.transition().style('display', 'block');
                d3.select(this).select('.glyphicon')
                    .attr('class', 'pull-right glyphicon glyphicon-chevron-up');
            } else {
                story.transition().style('display', 'none');
                d3.select(this).select('.glyphicon')
                    .attr('class', 'pull-right glyphicon glyphicon-chevron-down');
            }
        });
        MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        d3.selectAll('article p img').style('max-width', '80%');
    });
}

fetchQuestions();

function toSettingsPage() {
    settingsPage.style("opacity", 1).style("z-index", 3);
    questionsPage.style("opacity", .5).style("z-index", 2);
    settingsButton.style("opacity", 0);
    window.scrollTo(0,0);
}

function toQuestionsPage() {
    settingsPage.style("opacity", 0).style("z-index", 1);
    questionsPage.style("opacity", 1).style("z-index", 2);
    settingsButton.style("opacity", 1);
    window.scrollTo(0,0);
}
</script>
{% endblock %}
