<!doctype html><html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Math.StackExpert by Nicholas R. Peterson</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

                <link rel="stylesheet" href="{{url_for('static', filename='vendor/reveal.js-2.6.2/css/reveal.min.css')}}">
                <link rel="stylesheet" href="{{url_for('static', filename='vendor/reveal.js-2.6.2/css/theme/default.css')}}" id="theme">

		<!-- For syntax highlighting -->
                <link rel="stylesheet" href="{{url_for('static', filename='vendor/reveal.js-2.6.2/lib/css/zenburn.css')}}">

<style type="text/css">
.reveal .slides img {
    border: none;
}
</style>
		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
<div class="slides">
    <section class="" data-id="62962c2af536c1f8170a8347abad5924">
        <h1>
            <font color="#ffffff">
                <br>
            </font>
            </h1>
<h1>
<font color="#ffffff">Math.Stack</font>
            <font color="#0000ff">Expert</font>
</h1>
<div>Finding you high-quality questions on Math.StackExchange that you'll WANT to answer!</div>
<div>
            <br>
        </div>
<div>
        <br>
        </div>
<div>Nicholas Peterson</div>
<div>Fellow, Insight Data Science</div>
    </section>
    <section class="" data-id="87eda959e992d021f25b4544945f8866">
        <h2>The problem</h2>
<div>
<img src="http://math.stackexchange.com/users/flair/81839.png?theme=clean" style="width: 281.72912373924214px; height: 78.54625741065112px; max-height: none; max-width: none;">
        <br>
</div>
<div>I spend lots of time on Math.StackExchange.</div>
<div>
        <br>
    </div>
<div>(I know what you're thinking... but that's NOT the problem.)</div>
<div>
    <br>
</div>
<div>Unlike most, I'm there to ANSWER questions.</div>
<div>
<br>
</div>
<div>There are two things that make this tough.</div>
</section>
<section class="" data-id="8748f07f260cf03b0af9c46c461e7023">
    <h2>1. Low-effort questions</h2>
<div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/nicholaspeterson/images/481540/Screenshot_from_2014-06-20_09_22_10.png" style="width: 718.7586901286306px; height: 199.69572553232956px; max-height: none; max-width: none;">
    <br>
</div>
<div>vs</div>
<div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/nicholaspeterson/images/481553/Screenshot_from_2014-06-20_09_30_00.png" style="width: 716.1852545694582px; height: 227.82908006939152px; max-height: none; max-width: none;">
    <br>
</div>
</section>
<section class="" data-id="88bf093475555b68ab3dab49e65cc060">
    <h2>2. Finding questions</h2>
<div>
<ul>
<li>
    <span style="text-align: center;">Can set favorite tags, but can't filter by them.</span>
</li>
<li>
<span style="text-align: center;">There are 1000+ different tags,.</span>
</li>
<li>
<span style="text-align: center;">Askers don't necessarily follow natural tag hierarchy:</span>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/nicholaspeterson/images/481582/Screenshot_from_2014-06-20_09_47_00.png" style="text-align: center; width: 822.3666701867394px; height: 277.8812817557027px; max-height: none; max-width: none;">
</li>
</ul>
<br>
</div>
<div>(It is graph theory, but not combinatorics?)</div>
</section>
<section class="" data-id="d707db228c2f01475fe3029830338322">
    <h2>My solution</h2>
<div>
    <br>
</div>
<h1>Math.stack<font color="#0000ff">expert</font>
</h1>
<div>
<ul>
<li>
<font color="#ffffff">Clustered tags into manageable 'categories' representing broad areas of mathematics<br>
    <br>
</font>
</li>
<li>
<font color="#ffffff">
    <span>Used voting data and question text to build a predictor (logistic regression model) for whether or not a question will be closed for lack of effort.</span>
</font>
</li>
</ul>
</div>
</section>
<section class="" data-id="443703ea8eb6c0b2861c39d6f5186ceb">
    <h2>Methods</h2>
<div>
    <br>
</div>
<div>
<h3 style="font-style: normal; font-variant: normal; text-align: left;">CLUSTERING:</h3>
<div style="font-size: 35.96491241455078px; font-style: normal; font-variant: normal;">
<ul>
<li>Used sklearn AffinityPropogation algorithm</li>
<li>Fed in similarity matrix built from co-occurrence data</li>
</ul>
</div>
</div>
</section>
<section class="" data-id="e9335fddaa8e343c0cc10dddf81772e3">
    <h2>Methods</h2>
<h3 style="text-align: left; ">Predictor:</h3>
<div>
    <ul>
<li>Used 4916 questions, half closed.</li>
<li>Trained logistic regression model on body text (TFIDF)</li>
<li>Tuned parameters with cross-validation, optimized for recall</li>
<li>Held back 20% as test set:</li>
<ul>
<li>Accuracy: 85.66%</li>
<li>Recall: 87.47%</li>
<li>Precision: 84.57%<br>
    <br>
</li>
</ul>
</ul>
</div>
<h3 style="text-align: left; ">
<br>
</h3>
<div>
<ul>
</ul>
</div>
</section>
<section class="" data-id="f4b7f18c73d13471da0dd4a14ee47457">
    <h3>Can we learn anything from the effort model?</h3>
    <div style="text-align: left; ">What words are signals for low/high effort?&nbsp;</div>
    <div style="text-align: left; ">
        <br>
    </div>
    <div style="text-align: left; ">Some of the strongest:</div>
    <div style="text-align: left; ">
        <br>
    </div>
    <div style="text-align: left; ">Low effort:</div>
    <div style="text-align: left; ">
        <b>Commands: </b>show, prove, solve, provide</div>
        <div style="text-align: left; ">
            <b>Others: </b>helpless, help, please, Prof</div>
            <div style="text-align: left; ">
                <b>Wait... what?</b>: probability</div>
                <div style="text-align: left; ">
                    <br>
                </div>
                <div style="text-align: left; ">High effort:</div>
                <div style="text-align: left; ">
                    <b>Thought:&nbsp;</b>references, notations, generalization, intuition</div>
                    <div style="text-align: left; ">
                        <b style="font-size: 35.96491241455078px; font-style: normal; font-variant: normal;">Meta:&nbsp;</b>
                        <span style="font-size: 35.96491241455078px; font-style: normal; font-variant: normal;">Mathematics, mathematician, Mathematica</span>
                    </div>
                </section>
                <section class="" data-id="626e3d2ca792200a616f68610530cde3">
                    <h2>I'm <font color="#ffffff">Nicholas Peterson.</font>
</h2>
<a href="http://www.mtu.edu/">
                </a>
                <div class="absolute-element" style="position: absolute; width: 10px; height: 46.59375px; z-index: 4; left: 593px; top: 181px;">
                    <font color="#ffffff">
                        <br>
                    </font>
                </div>
<div class="fragment" data-fragment-index="0">
                <font color="#ffffff">
                    <br>
                </font>
            </div>
    <img src="{{url_for('static', filename='me.jpg')}}" style="max-width: 200px; position: absolute; top: 100px; left: 150px;">
    <img src="{{url_for('static', filename='mtu.png')}}" style="position: absolute; top: 300px; left: 95px;">
        <img src="{{url_for('static', filename='osu.jpg')}}" class="absolute-element" style="position: absolute; max-height: none; max-width: none; max-width: 200px; z-index: 4; left: 130px; top: 400px;">
        <img src="{{url_for('static', filename='graph.png')}}" style="width: 270.515625px; height: 270.515625px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 550px; top: 100px;" class="absolute-element">
        <img src="{{url_for('static', filename='vikings.jpg')}}" style="position: absolute; left: 576px; top: 428px;">
    </section>
</div>
		
                </div>

                <script src="{{url_for('static', filename='vendor/reveal.js-2.6.2/lib/js/head.min.js')}}"></script>
                <script src="{{url_for('static', filename='vendor/reveal.js-2.6.2/js/reveal.min.js')}}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/lib/js/classList.js')}}', condition: function() { return !document.body.classList; } },
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/plugin/markdown/marked.js')}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/plugin/markdown/markdown.js')}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/plugin/highlight/highlight.js')}}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/plugin/zoom-js/zoom.js')}}', async: true, condition: function() { return !!document.body.classList; } },
                                        { src: '{{url_for('static', filename='vendor/reveal.js-2.6.2/plugin/notes/notes.js')}}', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
